body
{
  background-color:black;
  margin:0;
  color: white;
  
img 
{
  border-radius:50%;
  margin-right: 20px;
  border: 3px solid black;
  
}
header
{
  background-color:darkcyan;
 
}
nav 
{
  display: flex;
  align-items: center;
  border-bottom: 2px solid darkcyan;
}
footer 
{
  margin:0;
  text-align: center;
  padding: 4px;
  background-color: darkcyan; 
  position: fixed;
  width: 100%;
  height: 4%;
  text-align: top;
  bottom: 0;
   
}

a button
{
  color:white;
  background-color:black;
  height: 30px;
  width: 90px;
  border-top-left-radius:1000px;
  border-bottom-right-radius:1000px;
  border:3px solid cyan;
  margin-left:60%;
}
a button:hover
{
      background-color: white;
      transform: scale(1.20);
}
.s1
{
  width: 90px;
  height:30px;
  background-color: black;
  border-top-left-radius:1000px;
  border-bottom-right-radius:1000px;
  border:3px solid cyan;
  color: white;
}
.body
{
  
  border-top:5px solid darkblue;
  border-left:5px solid darkblue;
  border-bottom:5px solid darkblue;
  border-right:5px solid darkblue;
  border-top-left-radius:40px;
  border-top-right-radius:40px;
  width:300px;
  height: 320px;
}
.up
{
  border:2px solid darkblue;
  width: 225px;
  margin-right: 1%
  height:20px;
  
}
.up1
{
  border:2px solid darkblue;
  width: 175px;
  margin-right: 1%
  height:20px;
  
}
.up2
{
  border:2px solid darkblue;
  width:75px;
  margin-right: 1%
  height:80px;
  color:blue;
}
.up3
{
  border:2px solid darkblue;
  width: 125px;
  margin-right: 1%
  height:80px;
  color:blue;
}